<h1>Would You like to work together?</h1>
<hr>
<div class="row">
    <div class="col-md-6">
      <h3>Address</h3>
      <p>2nd Floor, 289, Nishant Kunj, Main Pitampura Road, New Delhi</p>
      <h3>Phone</h3>
      <p><%= number_to_phone "8178394845" %></p>
      <h3>Email id</h3>
      <p><a href="mailto:sanjeet.boora97@gmail.com?subject=PortfolioContact">Email Me</a></p>
    </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.7892974944257!2d77.14331595721055!3d28.695948854886822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03cdf700b85d%3A0x9804b6298ded6481!2sOdhni!5e0!3m2!1sen!2sin!4v1528311868453" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
